@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
*{
    scroll-behavior: smooth;
}
h1{
 font-family:Josefin Sans;   
}
h5{
 font-family: Cutive Mono;
 font-weight: 4px;
}
#header{
   height:20px;
}
#userimg{
    
    height: 150px;
    border-radius: 50%;
    border: 2px solid #6caed5;
}
.userbox{
    top: 25%;
    left: 35%;
    position: absolute;
    color: blanchedalmond;
}
h1,h5{
    padding: 10px;
}
#profile{
   
    height: 800px;
    padding: 10px;
}
.userbox .icon{
    color: rgb(146, 146, 146) !important;
}
#about{
    padding-top: 100px;
    margin-bottom: -130px;
}
.nav-bar{
    top: 0;
    position: sticky;
    z-index: 2;
}
.navbar{
    background-color:#181819;
}
.navbar-brand img{
    margin-left: 50px;
    height: 45px;
}
.nav-bar .fa-bars{
    font-size: 20px;
    color: white;
}
.navbar-toggler{
    outline: none !important;
}
.nav-link{
    color: white !important;
}
.skills-bar p{
    /* padding: 10px; */
    margin-bottom: 6px;
    font-weight: 600;
}
.progress{
    height: 25px !important;
    border-radius: 6px;
    margin-bottom: 20px;
}
.progress-bar{
    height: 25px;
    border-radius: 6px;
    background-color: black !important;
}
.resume{
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}
.resume h3{
    margin-bottom: 10px;
}
.timeline{
    list-style-type: none;
    position: relative;
}
.timeline::before{
    content: '';
    background-color: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 1;
}
.timeline li{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
   
} 
.timeline li:before{
    content: '';
    background: #fff;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #000;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 1;
}
.footer{
    bottom: 10px;
    position: relative;
    padding-top: 10px;
    color: black;
    text-align: center;
}
.icon{
    padding: 20px;
    color: black !important;
    font-size: 50px;
    margin: 3px;
}
.arrow-icon{
    color: rgb(0, 0, 0) !important;
    font-size: 50px ;
    margin: 3px;
}
.arrow-icon:hover{
    transition: all 0.5s ease-in-out;
    color: rgb(150, 136, 136) !important;
}

.btn{
    height: 50px;
    outline: none;
    width: 200px;
    padding: 10px;
    background-color: #444444 !important;
}
.bg{
    margin-top: 50px;
    height: 50px;
    width: 250px;
    padding: 10px;
    background-color: #444444 !important;
}
.bg:hover{
    height: 50px;
    width: 250px !important;
    padding: 10px;
    color: black !important;
    background-color: #fff!important;
}
.btn:hover{
    height: 50px;
    width: 200px;
    outline: none;
    padding: 10px;
    color: black !important;
    background-color: #fff!important;
}
.arrow{
    text-decoration: none !important;
        font-size: 60px;
        position: relative;
        top: -68px;
        
}
.arrow a{
    color:  #0f0f0f;
}
.social-icons{
    top: 50%;
    transform: translateY(-50%);
    position: sticky;
    z-index: 1;
    width: 80px;
}
.social-icons ul{
    padding: initial;
}
.social-icons ul li{
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
    background-color: #000;
}
.social-icons ul li:hover{
    padding-left: 30px;
    width: 80px;
    transition: 0.5s;
}

.contact-title{
    text-align: center;
    margin-top: 30px;
    transition: all 4s ease-in-out;
}

form{
    margin-left: 150px;
    margin-top: 50px;
    transition: all 4s ease-in-out;
}
.form-control{
    margin-left: 100px;
    border: none !important;
    outline: none !important;
    border-bottom: 1px solid black !important;
    width: 600px !important;
    background: transparent !important;
    margin-bottom: 16px;
    color: #fff;
}
.form-control:focus{
   /* background-color: rgb(148, 134, 134) !important;*/
   outline: none !important;
   
   
}
input{
    height: 45px;
}
form .submit{
    margin-left: 95px;
    background: #444444;
    color: #fff;
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
    width: 300px !important;
    border: 3px solid #444444;
    border-radius: 50px;
    margin-bottom: 50px;
}
form .submit:hover{
    transition: all 0.5s ease-in-out;
    background-color: #fff;
    color: #444444;
    border: 3px solid #444444;
}
.down-arrow:hover{
    transition: all 0.5s ease-in-out;
    color: rgb(85, 85, 85) !important;
}
@media screen and (max-width:968px){
    .particles-js{
        position: relative;
    }
    .userbox{
        
        left: 2%;
        text-align: center;
        position: relative;
    }
    .userbox h1{
        font-size: 20px;
    }
    .userbox h5{
        padding: 0;
        font-size: 16px;
    }
    .userbox .icon, .userbox .arrow-icon{
        font-size: 16px;
    }
    .userbox .arrow-icon{
        display: none;
    }
    .about img{
        height: 85% !important;
        width: 80%;
    }
    .resume, #contact, .about{
        text-align: center;
    }
    
    .form{
        margin-left: -25px;
       
    }
    .form input, .form textarea{
        width: 300px !important;
    }
    .footer .icon {
        font-size: 40px;
    }
    .footer .arrow{
        font-size: 40px;
        bottom: -30px !important;
    }
   
}
